<!DOCTYPE html>
<html ng-app="mwl.calendar.docs">
<head>
<meta charset="UTF-8">
<title>Kalendarz</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.4/interact.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
<script src="https://mattlewis.me/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="https://mattlewis.me/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.4.8/angular-locale_pl-pl.js"></script>
-->
<script src="././bower_components/moment/src/moment.min.js"></script>
<script src="././bower_components/interact/interact.js"></script>
<script src="././bower_components/angular/angular.js"></script>
<script src="././bower_components/angular-animate/angular-animate.js"></script>
<script src="././bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="././bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
<script src="././bower_components/angular-bootstrap-calendar/dist/js/example1.js"></script>
<script src="././bower_components/angular-bootstrap-calendar/dist/js/helpers1.js"></script>
<link rel="stylesheet" href="././bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="././bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css"/>
<script src="././bower_components/angular-i18n/angular-locale_pl-pl.js"></script>	

</head>
<body class="container-fluid">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Nazwa Apki</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        
        <li><a href="adres">Dane adresowe</a></li>
        <li><a href="kalendarz">Kalendarz</a></li>
        <li><a href="raporty">Raporty</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>


<div ng-controller="KitchenSinkCtrl as vm">
  <h2 class="text-center">{{ vm.calendarTitle }}</h2>

  <div class="row">

    <div class="col-md-6 text-center">
      <div class="btn-group">

        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          decrement="vm.calendarView">
          Poprzedni
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="vm.viewDate"
          set-to-today>
          Dzisiaj
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          increment="vm.calendarView">
          Następny
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'">Rok</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Miesiąc</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'">Tydzień</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'">Dzień</label>
      </div>
    </div>

  </div>

  <br>

  <mwl-calendar
    events="vm.events"
    view="vm.calendarView"
    view-title="vm.calendarTitle"
    view-date="vm.viewDate"
    on-event-click="vm.eventClicked(calendarEvent)"
    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
    on-edit-event-click="vm.eventEdited(calendarEvent)"
    on-delete-event-click="vm.eventDeleted(calendarEvent)"
    cell-is-open="vm.isCellOpen"
    day-view-start="06:00"
    day-view-end="22:00"
    day-view-split="30"
    cell-modifier="vm.modifyCell(calendarCell)">
  </mwl-calendar>

  <br><br><br>

  <h3 id="event-editor">
    Edycja wizyty
    <button
      class="btn btn-primary pull-right"
      ng-click="vm.events.push({title: 'Nowa wizyta', type: 'important', draggable: true, resizable: true})">
      Dodaj wizytę
    </button>
    <div class="clearfix"></div>
  </h3>

  <table class="table table-bordered">

    <thead>
      <tr>
        <th>Tytuł</th>
        <th>Imię</th>
		<th>Nazwisko</th>
		<th>Telefon</th>
		<th>Email</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Przychod</th>
        <th>Zakceptuj</th>
        <th>Usuń</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="event in vm.events track by $index">
        <td>
          <input
            type="text"
            class="form-control"
            ng-model="event.title">
        </td>
		<td>
		<input 
			type="text"
			class="form-control"
			ng-model="event.name" placeholder="Imie">
		</td>
		<td>
		<input 
			type="text"
			class="form-control"
			ng-model="event.surname" placeholder="Nazwisko">
        </td>
		<td>
		<input type="tel" class="form-control" ng-model="event.number_phone" placeholder="Numer telefonu">
		<!--
         <select ng-model="event.type" class="form-control">
            <option value="important">Important</option>
            <option value="warning">Warning</option>
            <option value="info">Info</option>
            <option value="inverse">Inverse</option>
            <option value="success">Success</option>
            <option value="special">Special</option>
          </select>
		  -->
        </td>
		<td>
			 <input type="email" class="form-control" ng-model="event.email" name="email">
		</td>
        <td>
          <p class="input-group" style="max-width: 250px">
            <input
              type="text"
              class="form-control"
              readonly
              uib-datepicker-popup="dd MMMM yyyy"
              ng-model="event.startsAt"
              is-open="event.startOpen"
              close-text="Close" >
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'startOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <uib-timepicker
            ng-model="event.startsAt"
            hour-step="1"
            minute-step="15"
            show-meridian="false">
          </uib-timepicker>
        </td>
        <td>
          <p class="input-group" style="max-width: 250px">
            <input
              type="text"
              class="form-control"
              readonly
              uib-datepicker-popup="dd MMMM yyyy"
              ng-model="event.endsAt"
              is-open="event.endOpen"
              close-text="Close">
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'endOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <uib-timepicker
            ng-model="event.endsAt"
            hour-step="1"
            minute-step="15"
            show-meridian="false">
          </uib-timepicker>
        </td>
        <td>
        <!-- przychod -->
         <input type="number" class="form-control" ng-model="event.cost" name="cost">
        </td>
        <td>
        <button
            class="btn btn-success"
            ng-click="vm.saveEvent(vm.events)">
            Zakceptuj wizyte
         </button>
        </td>
        <td>
          <button
            class="btn btn-danger"
            ng-click="vm.events.splice($index, 1)">
            Usuń
          </button>
        </td>
      </tr>
    </tbody>

  </table>
</div>

</body>
</html>